.mainContent {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.formSection {
    width: 30%;
    height: auto;
    min-width: 280px;
    max-width: 400px;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

.errorMessage {
  color: #d93025;
  background: #ffe6e6;
  padding: 10px 14px;
  border-radius: 6px;
  margin: 0.5rem 0;
  font-weight: 500;
  text-align: center;
}
